* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

@font-face {
  font-family: myfont;
  src: url("fonts/Baloo2-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: myfont;
}

/* get in touch section starts here */

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.getInTouch {
  height: 50vh;
  position: relative;
}

.getInTouch__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.getInTouch__container h1 {
  margin-bottom: 15px;
  font-size: 3rem;
}

.getInTouch__container img {
  margin-top: 60px;
}

.getInTouch__container h2 {
  margin-bottom: 10px;
}

.getInTouch__container p {
  color: rgba(107, 107, 107, 0.808);
}

/* get in touch section ends here */

/* wrapper contact details section starts here */

.contactDetails {
  padding: 100px 0;
}

.contactDetails__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 100px;
  width: 80%;
  margin: 0 auto;
}

.container__mail,
.container__phone,
.container__stayInTouch {
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 45px -3px #ddd;
  padding: 30px;
  cursor: pointer;
  transition: all 0.5s;
}

.container__mail:hover,
.container__phone:hover,
.container__stayInTouch:hover {
  transform: scale(1.03);
}

.container__mail h2 {
  margin-bottom: 10px;
}

.container__phone .phone__number {
  display: flex;
  margin: 18px 0;
}

.container__phone .phone__number img,
.container__stayInTouch .stayInTouch__profile img {
  margin-right: 10px;
  object-fit: contain;
}

.container__stayInTouch .stayInTouch__profile {
  display: flex;
  margin: 15px;
}

.container__stayInTouch h2 {
  margin-bottom: 10px;
}

.contactDetails .divider {
  width: 70%;
  height: 1px;
  margin: 100px auto;
  background: rgba(218, 218, 218, 0.623);
  display: block;
}

/* wrapper contact details section ends here */

/* wrapper location details starts here */

.containerDetails__location {
  margin: 50px 0;
  margin-top: 50px;
}

.containerDetails__location .location__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 80%;
  margin: 0 auto;
}

.dhaka,
.newYork {
  text-align: center;
}

.dhaka h2,
.newYork h2 {
  margin-bottom: 10px;
}

/* wrapper location details ends here */

/* partners section starts here */

.partners {
  background: rgba(221, 221, 221, 0.198);
  padding: 30px 0;
}

.partners__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__container img {
  box-shadow: 0px 0px 45px -3px #ddd;
  cursor: pointer;
  margin: 10px 0;
}

/* partners section ends here */

/* map section starts here */

.locationOnMap__map {
  position: relative;
  height: 100%;
}

.locationOnMap__text {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.text__details {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text__details h4 {
  margin: 5px 0;
}

/* map section ends here */

/* footer top starts from here */

.footerTop {
  background: rgba(0, 0, 0, 0.931);
  padding: 50px;
  margin-top: -5 px;
}

.footerTop__container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

.footerTop__container .ourSoftware,
.footerTop__container .moreAboutUs,
.footerTop__container .subscribe,
.footerTop__container .office {
  color: rgba(255, 255, 255, 0.815);
}

.footerTop__container .ourSoftware > *,
.footerTop__container .moreAboutUs > *,
.footerTop__container .subscribe > *,
.footerTop__container .office > * {
  margin: 20px 0;
}

.footerTop__container .ourSoftware p {
  line-height: 25px;
  color: rgba(221, 221, 221, 0.514);
}

.footerTop__container span {
  background: lime;
  width: 20%;
  height: 3px;
  display: block;
}

.footerTop__container .moreAboutUs ul li {
  margin: 10px 0;
  list-style: none;
}

.footerTop__container .moreAboutUs ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 0.9rem;
  outline: none;
}

.footerTop__container .moreAboutUs ul li a:hover {
  color: rgb(255, 104, 104);
}

.footerTop__container .connectWithUs .phone__number {
  display: flex;
}

.footerTop__container .connectWithUs .phone__number img {
  margin-right: 10px;
}

.footerTop__container .connectWithUs a {
  display: block;
  text-decoration: none;
  color: rgba(221, 221, 221, 0.397);
}

.footerTop__container .office p {
  line-height: 25px;
  color: rgba(221, 221, 221, 0.397);
  font-size: 0.9rem;
}

.subscribeForm {
  display: flex;
  margin-top: 40px !important;
}

.subscribeForm input {
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 20px 0 0 20px;
  font-size: 1rem;
}

.subscribeForm button {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 0 15px 15px 0;
  background: lime;
  cursor: pointer;
  font-size: 1.2rem;
}

.subscribeForm button:hover {
  background: rgb(42, 255, 42);
}

/* footer top ends from here */

/* footer bottom starts here */

footer {
  background: black;
  padding: 15px 0;
}

.footer__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__container > p {
  color: rgba(221, 221, 221, 0.575);
}

.footer__container span {
  color: white;
}

.footer__container div {
  display: flex;
  align-items: center;
}

.footer__container div > p {
  color: white;
}

.footer__container div > * {
  margin: 0 10px;
}

.footer__container div .social {
  border: 2px solid rgba(221, 221, 221, 0.418);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.footer__container div .social:hover {
  transform: scale(1.1);
}

/* footer bottom ends here */

/* respnsiveness starts from here */

/* for screen size 937 */
@media only screen and (max-width: 937px) {
  .containerDetails__location .location__container {
    grid-template-columns: 1fr !important;
    grid-gap: 50px;
  }

  .partners img {
    display: unset !important;
  }
}

/* for screen size 845 */
@media only screen and (max-width: 845px) {
  .footer__container {
    flex-direction: column !important;
  }

  .footer__container div {
    margin-top: 20px;
  }
}

/* for screen size 530 */
@media only screen and (max-width: 530px) {

  .partners__container {
    justify-content: center;
  }

  .subscribeForm {
    flex-wrap: wrap;
  }

  .subscribeForm input {
    border-radius: 30px !important;
    margin-bottom: 10px;
    width: 100%;
  }

  .subscribeForm button {
    border-radius: 30px;
  }

  .footer__container > p {
    text-align: center;
  }
}
